@model P2_BurgerMenu.Entities.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Düzenleme Sayfası</h4>
            <form method="post">
                @Html.HiddenFor(x => x.CategoryID)
                <label>Ürün İsmi</label>
                @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                <br />
                <button class="btn btn-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>