<footer class="site-footer site-bg-dark site-section">
    <div class="container">
        <div class="row mb-5">
            
                    <div class="col-md-1"></div>
                    <div class="col-md-3 site-animate">
                        <div class="site-footer-widget mb-1">
                            <h2 class="site-heading-2">Eatwell Restaurant</h2>
                            <ul class="list-unstyled">
                                <li><a href="#section-about" data-toggle="modal" data-target="#aboutModal" class="py-2 d-block">Hakkımızda</a></li>
                                <li><a href="#section-offer" class="py-2 d-block">Öne Çıkanlar</a></li>
                                <li><a href="#section-menu" class="py-2 d-block">Menü</a></li>
                                <li><a href="section-gallery" class="py-2 d-block">Galeri</a></li>
                                <li><a href="#section-contact" class="py-2 d-block">İletişime geçin</a></li>
                            </ul>


                        </div>
                    </div>
                    <div class="col-md-3 site-animate">
                        <div class="site-footer-widget mb-1">
                            <h2 class="site-heading-2">Yeniliklerden haberdar olmak için</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" data-toggle="modal" data-target="#subModal" class="py-2 d-block">Abone olun</a></li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        <div class="row site-animate">
            <div class="col-md-12 text-center">
                <div class="site-footer-widget mb-4">
                    <ul class="site-footer-social list-unstyled ">
                        <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>




<!-- Modal -->


<!-- END Modal -->
