@*Abone olma kismi*@
<div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bg-image" style="background-image: url(/eatwell-master/images/reservation_1.jpg);"></div>
                    </div>
                    <div class="col-lg-12 p-5">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <small>CLOSE </small><span aria-hidden="true">&times;</span>
                        </button>
                        <h1 class="mb-4">Abone ol</h1>
                        <form id="subscribeForm">

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="m_email">Email</label>
                                    <input type="email" name="Gmail" class="form-control" id="m_email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Abone ol">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#subscribeForm').submit(function (event) {
            event.preventDefault(); // Formun normal gönderimini engelle

            $.ajax({
                url: '@Url.Action("PartialSubscribe", "Default")', // Form verilerini gönderecek URL
                type: 'POST',
                data: $(this).serialize(), // Formdaki verileri al ve gönder
                success: function (response) {
                    alert("Başarıyla abone oldunuz!");
                    $('#subscribeForm')[0].reset(); // Formu temizle
                },
                error: function () {
                    alert("Abonelik oluşturulurken bir hata oluştu.");
                }
            });
        });
    });
</script>
@*Abone olma sonu*@
