@model List<P2_BurgerMenu.Entities.Product>
<link href="~/Content/style.css" rel="stylesheet" />
<section class="site-section bg-light" id="section-offer">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center mb-5 site-animate">
                <h4 class="site-sub-title">Our Offers</h4>
                <h2 class="display-4">Our Offer To You</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">We've got %20 discount for you. Every week different meals to discount.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel site-owl">
                    @foreach (var x in Model)
                    {
                        <div class="item">
                            <div class="media d-block mb-4 text-center site-media site-animate border-0">
                                <img src="@x.ImageURL" style="height:240px" alt="Free Template by colorlib.com" class="img-fluid">
                                <div class="media-body p-md-5 p-4">
                                    <h5 class="text-primary">@x.Price</h5>
                                    <h5 class="mt-0 h4">@x.ProductName</h5>
                                    <p class="mb-4">@x.Description</p>

                                    <p class="mb-0"><a href="#" target="_blank" data-toggle="modal" class="btn btn-primary btn-sm" data-target="#orderModal">Order Now!</a></p>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>
</section>
@foreach (var x in Model)
{

    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-preview">
                                <div class="card-front">
                                    <img src="/Content/Images/chip.png" class="chip-image" alt="Chip" />
                                    <img src="/Content/Images/visa.png" class="visa-logo" alt="Visa" />
                                    <p class="card-number-preview">#### #### #### ####</p>
                                    <p class="card-holder-preview">Kart Sahibi</p>
                                    <p class="card-expiry-preview">MM/YY</p>
                                </div>
                                <div class="card-back">
                                    <div class="black-strip"></div>
                                    <div class="signature-area">
                                        <span class="signature-text"></span>
                                        <div class="cvc-box">
                                            <span class="cvc-label">CVC </span>
                                            <span class="cvc-preview">123</span>
                                        </div>
                                    </div>
                                    <p class="info-text">24 saat destek hattımıza ulaşmak için  0212 212 23 40. www.memirozdemir.com.tr</p>
                                </div>
                            </div>
                            <form id="paymentForm">
                                <div class="formcard">
                                    <label class="konteynir" for="cardNumber">Kart Numarası:</label>
                                    <input class="labelcard" type="text" id="cardNumber" maxlength="16" />
                                    <label class="konteynir" for="cardHolder">Kart Sahibi:</label>
                                    <input type="text" class="labelcard" id="cardHolder" />
                                    <label class="konteynir" for="expiryDate">Son Kullanma Tarihi:</label>
                                    <input type="text" id="expiryDate" class="labelcard" maxlength="7" placeholder="MM/YY" oninput="formatExpiryDate(this)" />
                                    <script>
                                        function formatExpiryDate(input) {
                                            // Yalnızca rakamları kabul et
                                            input.value = input.value.replace(/[^\d]/g, '');

                                            // Eğer 2 haneli rakam girildiyse, araya '/' ekle
                                            if (input.value.length >= 2) {
                                                input.value = input.value.substring(0, 2) + '/' + input.value.substring(2, 4);
                                            }
                                        }
                                    </script>
                                    <label class="konteynir" for="cvc">CVC:</label>
                                    <input type="text" id="cvc" maxlength="3" class="labelcard" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


