@model P2_BurgerMenu.Entities.Admin
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <div class="alert alert-info">Burger Admin Login Page</div>
    <form method="post">
        <label>Username</label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        <br />
        <label>Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Login</button>
    </form>
</div>
     

