<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/Admin/DashBoard/Index/"><img src="/regal/images/logo.svg" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/Admin/DashBoard/Index/"><img src="/regal/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="search">
                            <i class="icon-search"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ara" aria-label="search" aria-describedby="search">
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
                <button type="button" href="#" target="_blank" data-toggle="modal" data-target="#reservationModal" class="btn btn-info font-weight-bold">+ Yeni Rezervasyon Oluştur</button>
            </li>
            <li class="nav-item dropdown d-flex mr-4">
                <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                    <i class="icon-air-play mx-0"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                    
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Mesajlar</p>
                        <a href="/Admin/Message/Inbox/" class="dropdown-item preview-item">
                            <i class="icon-mail menu-icon"></i>Gelen Kutusu
                        </a>
                        <a href="/Admin/Message/Sendbox/" class="dropdown-item preview-item">
                            <i class="icon-upload"></i> Gönderilen Mesajlar
                        </a>
                    
                </div>
            </li>
            <li class="nav-item dropdown d-flex mr-4 ">
                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="icon-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <p class="mb-0 font-weight-normal float-left dropdown-header">Ayarlar</p>
                    <a href="/Admin/Profile/MyProfileList/" class="dropdown-item preview-item">
                        <i class="icon-head"></i>Profil
                    </a>
                    <a href="/Default/Index/" class="dropdown-item preview-item">
                        <i class="icon-inbox"></i> Çıkış Yap
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown mr-4 d-lg-flex d-none">
                <a class="nav-link count-indicatord-flex align-item s-center justify-content-center" href="#">
                    <i class="icon-grid"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>
