@model List<P2_BurgerMenu.Entities.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün Listesi</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ürün ID</th>
                            <th>Ürün Resmi</th>
                            <th>Ürün İsmi</th>
                            <th>Ürün Kategorisi</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.ProductID</td>
                                <td><img src="@x.ImageURL" height="50" width="50" /></td>
                                <td>@x.ProductName</td>
                                <td>@x.Category.CategoryName</td>
                                @if (x.DealofTheDay == false)
                                {
                                    <td><a href="/Admin/Product/dealOfTheDayTrue/@x.ProductID" class="btn btn-outline-warning">Günün Fırsatı Listesine Ekle</a></td>
                                }
                                else
                                {
                                    <td><a href="/Admin/Product/dealOfTheDayFalse/@x.ProductID" class="btn btn-warning">Günün Fırsatı Listesinden Çıkar</a></td>
                                }
                                <td><a href="/Admin/Product/DeleteProduct/@x.ProductID" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Admin/Product/UpdateProduct/@x.ProductID" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Admin/Product/CreateProduct" class="btn btn-primary">Yeni Ürün Ekle</a>
            </div>
        </div>
    </div>
</div>



